@import "./helpers";

@mixin all {
  box-sizing: border-box;
}

@mixin root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: $rootFontSize;
  color: $rootFontColor;
  background: $rootBackgroundColor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin body {
  margin: 0;
  height: 100vh;
  width: 100%;
  @include flexDisplay($justify: flex-start);
}

@mixin rootDiv {
  height: 100vh;
  width: 100%;
  @include flexDisplay($justify: flex-start);
}

@mixin main {
  @include flexDisplay($justify: flex-start);
  flex: 1;
}

@mixin bottomNavigation {
  width: 100%;
  #bottom-navigation-bar {
    background-color: $bottomNavBarBackground;
  }
}
